@import '/styles/color.scss';

.container {
  position: relative;

  border: 1px solid $color-grey-2;
  border-radius: 40px;
  margin-bottom: 36px;
  height: 150px;

  .cover {
    display: absolute;
    width: 100%;
    border: 1px solid $color-grey-2;
    border-radius: 40px;
    background-color: $list-bg;
    height: 100%;

    &:hover {
      cursor: pointer;
      background-color: $list-bg-hover;
      color: $color-white;
    }
  }
  .wrapper {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .desc {
    font-size: 14px;
  }
}
