@import '/styles/color.scss';

.cover {
  display: absolute;
  background-color: $food-bg;
  width: 100%;
  height: 100%;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.storename {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.desc {
}
