@import '/styles/color.scss';

.container {
  position: fixed;
  bottom: 30px;
  right: 30px;

  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  background-color: $color-primary;

  &:hover {
    cursor: pointer;
  }
}

.txt {
  color: white;
  font-weight: bold;
}
