@import '/styles/color.scss';
@import '/styles/color.scss';

.container {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    font-family: 'GmarketSans';
    font-weight: bold;
    font-size: 46px;
    color: $color-white;
  }
}
