@import '/styles/color.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.wrapper {
  padding: 15px 20px;
  .title {
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
  }
  .contents-wrapper {
    border-radius: 10px;
    border: 2px solid $color-border;
    padding: 15px;
  }
  .msg {
    width: 100%;
    border-radius: 10px;
    border: 2px solid $color-border;
    padding: 15px 20px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    font-family: 나눔스퀘어;
    &::placeholder {
      color: $color-grey-2;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: $color-white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;

  div {
    font-weight: bold;
    background-color: $color-primary;
    padding: 20px 60px;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}
