$color-primary: #f96421;

$color-orange: #f7845c;
$color-black-1: #000;
$color-black-2: #111;
$color-black-3: #333;

$color-grey-1: #747474;
$color-grey-2: #bababa;
$color-white: white;

$color-border: #eff0f4;
$color-bg: $color-border;

$list-bg: rgba(255, 255, 255, 0.4);
$list-bg-hover: rgba(249, 100, 33, 0.4);

$food-bg: rgba(114, 114, 114, 0.3);
$food-bg-small: rgba(0, 0, 0, 0.1);

$button-bg-left: #f7b284;
$button-bg-center: #f4f4f4;
$button-bg-right: color-orange;
